<div class="container">
  <div class="mt-5">
    <textarea readonly class="col-12" rows="10" id="logInfo"></textarea>

    <div id="step1" class="row">
      <label for="telefonoInput" class="col-2">Telefono</label>
      <div class="col-8">
        <input id="telefonoInput" name="telefonoInput" type="text" class="form-control" value="3192885270">
      </div>
      <div class="col-2">
        <button id="enviarSMSButton" class="btn btn-primary">Enviar SMS</button>
      </div>
    </div>

    <div class="row" style="visibility: hidden;" id="step2">
      <label for="text" class="col-2">Codigo SMS</label>
      <div class="col-8">
        <input id="codeSMSInput" name="codeSMSInput" type="text" class="form-control" value="">
      </div>
      <div class="col-2">
        <button id="validarCodeSMSButton" class="btn btn-primary">Validar Codigo sms</button>
      </div>
    </div>

    <div class="row" style="visibility: hidden;" id="step2p2">
      <label for="text" class="col-2">Codigo email</label>
      <div class="col-8">
        <input id="codeEmailInput" name="codeEmailInput" type="text" class="form-control" value="">
      </div>
      <div class="col-2">
        <button id="validarCodeEmailButton" class="btn btn-primary">Validar Codigo email</button>
      </div>
    </div>


    <div class="row" style="visibility: hidden;" id="step3">
      <label for="text" class="col-2">Direccion</label>
      <div class="col-8">
        <input id="direccionInput" name="direccionInput" type="text" class="form-control" value="">
      </div>
      <div class="col-2">
        <button id="buscarDireccionButton" class="btn btn-primary">Enviar Codigo</button>
      </div>
    </div>

  </div>


  <script src="conexionRappi/client.js" type="text/javascript"></script>