<div class="container">
  <div class="mt-5">

    <!-- TextArea informativo -->
    <textarea readonly class="col-12" rows="10" id="logInfo"></textarea>

    <!-- Paso 1, obtener el numero celular para enviar el sms -->
    <div id="step1" class="row">
      <label for="telefonoInput" class="col-2">Telefono</label>
      <div class="col-8">
        <input id="telefonoInput" name="telefonoInput" type="text" class="form-control" value="3192885270">
      </div>
      <div class="col-2">
        <button id="enviarSMSButton" class="btn btn-primary">Enviar SMS</button>
      </div>
    </div>

    <!-- Paso 2, obtener el codigo SMS enviado al celular para validarlo -->
    <div class="row" style="visibility: collapse;" id="step2">
      <label for="text" class="col-2">Codigo SMS</label>
      <div class="col-8">
        <input id="codeSMSInput" name="codeSMSInput" type="text" class="form-control" value="">
      </div>
      <div class="col-2">
        <button id="validarCodeSMSButton" class="btn btn-primary">Validar Codigo sms</button>
      </div>
    </div>

    <!-- Paso opcional 2.1, obtener el codigo enviado al correo electronico para validarlo -->
    <div class="row" style="visibility: collapse;" id="step2p2">
      <label for="text" class="col-2">Codigo email</label>
      <div class="col-8">
        <input id="codeEmailInput" name="codeEmailInput" type="text" class="form-control" value="">
      </div>
      <div class="col-2">
        <button id="validarCodeEmailButton" class="btn btn-primary">Validar Codigo email</button>
      </div>
    </div>

    <div class="row" style="visibility: ;" id="step3">

      <div class="row">
        <label for="text" class="col-2">Ubicacion</label>
        <div class="col-6">
          <input id="latitud" name="latitud" placeholder="Latitud" type="number" class="form-control">
          <input id="longitud" name="longitud" placeholder="Longitud" type="number" class="form-control">
        </div>
        <div class="col-2">
          <button id="buscarDireccionButton" class="btn btn-primary">Obtener ranking Rappi</button>
        </div>
        <label id="posicionRappi" for="text" class="col-2"></label>
      </div>

    </div>


  </div>

</div>


<script src="conexionRappi/client.js" type="text/javascript"></script>